<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="ir.mservices.market.BILLING" />

    <queries>
        <package android:name="ir.mservices.market" />
        <intent>
            <action android:name="ir.mservices.market.InAppBillingService.BIND" />
        </intent>
    </queries>
    <application>
        <activity
            android:name="com.inappify.sdk.internal.billing.myket.util.ProxyBillingActivity"
            android:exported="false"
            android:theme="@style/InappifyMyketBillingTheme" />
        <receiver
            android:name="com.inappify.sdk.internal.billing.myket.util.IABReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="ir.mservices.market.ping" />
                <action android:name="ir.mservices.market.purchase" />
                <action android:name="ir.mservices.market.getPurchase" />
                <action android:name="ir.mservices.market.billingSupport" />
                <action android:name="ir.mservices.market.skuDetail" />
                <action android:name="ir.mservices.market.consume" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
